.editor-styles-wrapper .wp-block {

    &[data-type="dining-dashboard/menu-intro"] {
        .intro-column {
            max-width: 800px;
            padding: 12px;

            h4 {
                margin: 0 0 10px;
            }
        }

        .cols-2{
            display: flex;
            flex-wrap: wrap;

            .intro-column {
                width: 50%;
            }
        }

        .icon-and-description-holder {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            > span {
                margin-right: 10px;
            }

            svg {
                display: block;
                width: 32px;
                height: 32px;
            }
        }
    }

    &[data-type="dining-dashboard/menu-section"] {

        figure {
            position: relative;
            margin: 0;

            button {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999;
                background:
                #0073aa;

                svg {
                    fill: white;
                }

                &:hover {
                    svg {
                        fill: #0073aa;
                    }   
                }
            }
        }

        .components-placeholder {
            &__label {
                display: block;

                svg {
                    width: 48px;
                    height: 48px;
                }

                span {
                    display: block;
                    font-weight: bold;
                }
            }

            button {
                height: auto;
                margin: 6px;
                padding: 8px;
            }
        }

        .meta {
            display: flex;
            align-items: center;
        }

        .price {
            margin-left: auto;
        }
        
        [data-type="dining-dashboard/menu-item"] {
            max-width: 100%;
        }    
    }

    &[data-type="dining-dashboard/menu-item"] {
        width: 100%;
        padding: 0 28px;
    }

    .wp-block[data-type="dining-dashboard/menu-section-heading"] {
        width: 100%;
        max-width: 100%;
    }

    .wp-block[data-type="dining-dashboard/menu-section-column"] {
        margin: 0;

        .block-list-appender {
            width: 96%;
            margin: 0 auto;
        }
    }

    .one-col, 
    .two-cols, 
    .three-cols,
    .four-cols {
        .editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            overflow: hidden;
        }
    }

    .one-col .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 100%;
    }

    .two-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 50%;
        max-width: 50%;
    }

    .three-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 33.3333%;
    }

    .four-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 25%;
    }
}

.menu-section-inspector-columns {
    button {
        width: calc(50% - 20px);
        height: auto;
        margin: 10px;
        padding: 12px;

        &.is-selected {
            box-shadow: 0 0 0 2px #11a0d2;
        }

        svg {
            margin: 0 auto;
        }
    }
}

.add-new-menu-item {
    width: 100%;
    background: rgba(139,139,150,0.1);
    outline: 1px dashed #8d96a0;

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid #8d96a0;
    }
}