.dining-dashboard-twentyten {

    article,
    .page-header {
        padding: 0 22px;
    }

    .wp-block-dining-dashboard {
        &-menu-section {
            header {
                margin: 2rem 0 3rem;
            }
        }
    }

    &.post-type-archive-menu {
        .page-header,
        article {
            max-width: 100%;
            margin: 0 280px 20px 20px;
            padding: 0;
        }
    }
}
  

        
