.editor-styles-wrapper .wp-block {

    &[data-type="dining-dashboard/menu-section"] {

        .components-placeholder {
            &__label {
                display: block;

                svg {
                    width: 48px;
                    height: 48px;
                }

                span {
                    display: block;
                    font-weight: bold;
                }
            }

            button {
                height: auto;
                margin: 0 10px;
                padding: 12px;
            }
        }
    }

    .wp-block[data-type="dining-dashboard/menu-section-heading"] {
        width: 100%;
    }

    .wp-block[data-type="dining-dashboard/menu-section-column"] {
        margin: 0;

        .block-list-appender {
            width: 96%;
            margin: 0 auto;
        }
    }

    .one-col, 
    .two-cols, 
    .three-cols,
    .four-cols {
        .editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .one-col .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 100%;
    }

    .two-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 50%;
    }

    .three-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 33.3333%;
    }

    .four-cols .wp-block[data-type="dining-dashboard/menu-section-column"] {
        width: 25%;
    }
}

#menu-section-inspector-columns {
    button {
        width: calc(50% - 20px);
        height: auto;
        margin: 10px;
        padding: 12px;

        &.is-selected {
            box-shadow: 0 0 0 2px #11a0d2;
        }

        svg {
            margin: 0 auto;
        }
    }
}

.add-new-menu-item {
    width: 100%;
    background: rgba(139,139,150,0.1);
    outline: 1px dashed #8d96a0;

    &:hover,
    &:active,
    &:focus {
        outline: 1px solid #8d96a0;
    }
}