@import 'mixins';

.wp-block-dining-dashboard {
    &-menu-section {
        margin: 0 auto; 

        header {
            display: flex;
            align-items: center;

            &.open svg {
                transform: rotate(-180deg);
            }
        }

        button {
            margin-left: auto;
            padding: 0;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;

            svg {
                width: 48px;
                height: 48px;
                transition: transform 1s;
            }
        }

        &.has-slide-toggle {

            header {
                margin-bottom: 3rem;
                border-bottom: 4px solid;

                h2 {
                    margin: 0;
                }
            }

            .grid-holder {
                display: none;
            }

        }

        &.align {

            &narrow {
                @include bp(min-md){
                    &.cols-1 {
                        max-width: 600px;
                    }
                    
                    &.cols-2,
                    &.cols-3,
                    &.cols-4 {
                        max-width: 100%;
                    }
                }

                @include bp(min-lg){
                    &.cols-2,
                    &.cols-3,
                    &.cols-4 {
                        max-width: 1200px;
                    }
                }
            }

            &wide {
                max-width: 1500px;
            }

            &full {
                max-width: 100%;
            }

        }

        &-grid {
            display: grid;
            grid-gap: 20px;
            grid-auto-rows: minmax(min-content, max-content);
            grid-template-columns: 1fr;

            &.cols-2 {
                @include bp(min-md){
                    grid-template-columns: 1fr 1fr;
                }
            }

            &.cols-3 {
                @include bp(min-lg){
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .wp-block-dining-dashboard-menu-item {

                    @include bp(min-md){
                        .img {
                            min-width: 200px;
                        }
                    }

                    @include bp(min-lg){
                        flex-direction: column;
                        .img {
                            min-width: 100%;
                            height: 150px;
                            border-radius: 4px 4px 0 0;
                        }
                    }

                     @include bp(min-xl){
                        flex-direction: row;
                        .img {
                            min-width: 150px;
                            height: auto;
                            border-radius: 4px 0 0 4px;
                        }
                    }
                    
                }
            }

            &.cols-4 {
                @include bp(min-md){
                    grid-template-columns: 1fr 1fr;
                }

                @include bp(min-xl){
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .wp-block-dining-dashboard-menu-item {
                        @include bp(min-lg){
                            flex-direction: column;
                            .img {
                                min-width: 100%;
                                height: 150px;
                                border-radius: 4px 4px 0 0;
                            }
                        }
                    }
                }
            }
        }

        
        svg {
            display: block;
            width: 32px;
            height: 32px;
        }

    }

    &-menu-item {
        display: flex;
        flex-direction: column;
        align-self: start;
        margin: 0;
        border: 4px solid;
        border-radius: 8px;

        @include bp(min-sm){
            flex-direction: row;
        }

        &.empty-item {
            border: none;
        }

        .img {
            height: 150px;
            border-radius: 4px 4px 0 0;
            background-color: lightblue;
            background-size: cover;
            background-position: center center;

            @include bp(min-sm){
                min-width: 200px;
                height: auto;
                border-radius: 4px 0 0 4px;
            }

            @include bp(min-md){
                min-width: 150px;
            }

            @include bp(min-lg){
                min-width: 200px;
            }
        }

        .details {
            width: calc(100% - 32px);
            margin: 16px;

            h3 {
                margin: 0 0 12px 0;
                line-height: 1;
            }

            p {
                margin: 0 0 12px 0;
            }
        }

        .meta {
            display: flex;
            align-items: center;
            margin-left: -3px;
        }

        .price {
            margin-left: auto;
        }
    }
}


.is-twentythirteen {
    .alignnarrow {
         @include bp(min-md){
            &.cols-1 {
                max-width: 100%;
            }
        }

        @include bp(min-lg){
            &.cols-2 {
                width: 864px;
                margin-left: -130px;
                margin-right: -130px;
            }
        }
    }                              
}