.wp-block-dining-dashboard-menu-section {
  margin: 0 auto; }
  .wp-block-dining-dashboard-menu-section header {
    display: flex;
    align-items: center; }
    .wp-block-dining-dashboard-menu-section header.open svg {
      transform: rotate(-180deg); }
  .wp-block-dining-dashboard-menu-section button {
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .wp-block-dining-dashboard-menu-section button svg {
      width: 48px;
      height: 48px;
      transition: transform 1s; }
  .wp-block-dining-dashboard-menu-section.has-slide-toggle header {
    margin-bottom: 3rem;
    border-bottom: 4px solid; }
    .wp-block-dining-dashboard-menu-section.has-slide-toggle header h2 {
      margin: 0; }
  .wp-block-dining-dashboard-menu-section.has-slide-toggle .grid-holder {
    display: none; }
  @media (min-width: 48em) {
    .wp-block-dining-dashboard-menu-section.alignnarrow.cols-1 {
      max-width: 600px; }
    .wp-block-dining-dashboard-menu-section.alignnarrow.cols-2, .wp-block-dining-dashboard-menu-section.alignnarrow.cols-3, .wp-block-dining-dashboard-menu-section.alignnarrow.cols-4 {
      max-width: 100%; } }
  @media (min-width: 62em) {
    .wp-block-dining-dashboard-menu-section.alignnarrow.cols-2, .wp-block-dining-dashboard-menu-section.alignnarrow.cols-3, .wp-block-dining-dashboard-menu-section.alignnarrow.cols-4 {
      max-width: 1200px; } }
  .wp-block-dining-dashboard-menu-section.alignwide {
    max-width: 1500px; }
  .wp-block-dining-dashboard-menu-section.alignfull {
    max-width: 100%; }
  .wp-block-dining-dashboard-menu-section-grid {
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr; }
    @media (min-width: 48em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-2 {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 62em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-3 {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (min-width: 48em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-3 .wp-block-dining-dashboard-menu-item .img {
        min-width: 200px; } }
    @media (min-width: 62em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-3 .wp-block-dining-dashboard-menu-item {
        flex-direction: column; }
        .wp-block-dining-dashboard-menu-section-grid.cols-3 .wp-block-dining-dashboard-menu-item .img {
          min-width: 100%;
          height: 150px;
          border-radius: 4px 4px 0 0; } }
    @media (min-width: 75em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-3 .wp-block-dining-dashboard-menu-item {
        flex-direction: row; }
        .wp-block-dining-dashboard-menu-section-grid.cols-3 .wp-block-dining-dashboard-menu-item .img {
          min-width: 150px;
          height: auto;
          border-radius: 4px 0 0 4px; } }
    @media (min-width: 48em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-4 {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 75em) {
      .wp-block-dining-dashboard-menu-section-grid.cols-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 75em) and (min-width: 62em) {
    .wp-block-dining-dashboard-menu-section-grid.cols-4 .wp-block-dining-dashboard-menu-item {
      flex-direction: column; }
      .wp-block-dining-dashboard-menu-section-grid.cols-4 .wp-block-dining-dashboard-menu-item .img {
        min-width: 100%;
        height: 150px;
        border-radius: 4px 4px 0 0; } }
  .wp-block-dining-dashboard-menu-section svg {
    display: block;
    width: 32px;
    height: 32px; }

.wp-block-dining-dashboard-menu-item {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin: 0;
  border: 4px solid;
  border-radius: 8px; }
  @media (min-width: 34em) {
    .wp-block-dining-dashboard-menu-item {
      flex-direction: row; } }
  .wp-block-dining-dashboard-menu-item.empty-item {
    border: none; }
  .wp-block-dining-dashboard-menu-item .img {
    height: 150px;
    border-radius: 4px 4px 0 0;
    background-color: lightblue;
    background-size: cover;
    background-position: center center; }
    @media (min-width: 34em) {
      .wp-block-dining-dashboard-menu-item .img {
        min-width: 200px;
        height: auto;
        border-radius: 4px 0 0 4px; } }
    @media (min-width: 48em) {
      .wp-block-dining-dashboard-menu-item .img {
        min-width: 150px; } }
    @media (min-width: 62em) {
      .wp-block-dining-dashboard-menu-item .img {
        min-width: 200px; } }
  .wp-block-dining-dashboard-menu-item .details {
    width: calc(100% - 32px);
    margin: 16px; }
    .wp-block-dining-dashboard-menu-item .details h3 {
      margin: 0 0 12px 0;
      line-height: 1; }
    .wp-block-dining-dashboard-menu-item .details p {
      margin: 0 0 12px 0; }
  .wp-block-dining-dashboard-menu-item .meta {
    display: flex;
    align-items: center;
    margin-left: -3px; }
  .wp-block-dining-dashboard-menu-item .price {
    margin-left: auto; }

@media (min-width: 48em) {
  .is-twentythirteen .alignnarrow.cols-1 {
    max-width: 100%; } }

@media (min-width: 62em) {
  .is-twentythirteen .alignnarrow.cols-2 {
    width: 864px;
    margin-left: -130px;
    margin-right: -130px; } }


/*# sourceMappingURL=menu-post-type.css.map*/